<link rel="stylesheet" href="~/css/Login.css" />

<div>
    <div class="login-wrapper">
        <div class="login-body">
            <h1 class="text-center">ログイン</h1>
            <div style="width: 100%; border: solid 1px #000;">
                <div>
                    <input type="text" style="width: 100%; box-sizing: border-box;" value="幅100%">
                </div>
                <div>
                    <input type="text" style="width: 50%; box-sizing: border-box;" value="幅50%">
                </div>
            </div>

            @*<input type ="text" value="aaa" _base_param = "aaa"/>*@
        </div>
    </div>
</div>
