@*<div class="card" style="max-width: 50rem; margin: auto;">
    <div class="card-body">
        <h1 class="card-title text-center">ログイン</h1>
    </div>
</div>*@

<link rel="stylesheet" href="~/css/Login.css" />

<div>
    <div class="login-wrapper" >
        <div class="login-body">
            <input type ="text" value="aaa" _base_param = "aaa"/>
        </div>
    </div>
</div>

@*
<div class="container">
    <h1 class="text-center" style="margin-top: 1em;">ログイン</h1>

    <form>
        <div class="row py-5 kataokaButton">
            <label for="name" class="col-md-3 col-form-label">
                ユーザー名 <span class="badge bg-warning text-black">必須</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" placeholder="お名前" required>
            </div>
        </div>
    </form>

</div>*@
